
.location{
    margin-left:40px;
    height:410px;
    width:100%;
    float:left;
    margin-top:20px;
    margin-bottom: 20px;
    /*border-bottom:solid;
    border-width:3px;
    border-color:#45171d;*/

}
.googlemaps{
    float:left;
}
.location-info{
    float:left;
    margin-right:250px;
    width:400px;
}
.inputStyle{
    width:300px;
    height:30px;
}
.questionBox{
    height:100px;
}
.image-box{
    text-align: center;
    float:left;
    margin-left:250px;
    margin-top:47px;
}
.location-img{

    height:377px;
    width:auto;
}

.contact-form{
    margin-left:40px;
    width:400px;
    float:left;
}
ul{
    list-style-type:none;
}
li{
    margin-bottom: 5px;
    margin-left: 5px;
}
h1{
    padding-bottom:10px;
}
.mail{
    margin-left:55px;
}
.mail_button{
    height:50px;
    width:auto;
    float:left;
}
.mail_text{
    float:left;
    margin-top:17px;
}
.error li{
    color:red;
    font-size:12;
    margin-left: 5px;
}
.footer{
    float:left;
}
textarea{
    resize: none;
}
.invis
{
    display: none;
    visibility: hidden;
}
