*{
	margin:0;
	padding:0;
}
p,h1,h2,h3,ul{
	color:#45171d;
}
.header{
	width:100%;
	height:150px;
}
.logo{
	float:left;
	height:100%;
	
}
.logo-img{
	/*makes the image the height of the header*/
	height:100%;
	width:auto;
}
.buttonlist1{
	float:left;
	max-margin-left:556px;
	margin-left:auto;
}
.button{
	color:brown;
	/*determines position of the buttons*/
	display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
	margin-top:50px;
	text-decoration:none;
	
	
}
.button:hover{
	/*underline text in buttons when hovering over it*/
	text-decoration:underline;
}

.directory_bar{
	margin-left:55px;
}
.directory{
	color:#45171d;
    text-align: center;
	text-decoration:none;	
}
.locations{
	margin-left:55px;
	margin-right:55px;
	height:410px;
	/*border-bottom:solid;
	border-width:3px;
	border-color:#45171d;*/
	
}

.location-img{
	float:left;
	height:300px;
	width:auto;
}
.location-info{
	float:left;
	padding-left:40px;
	padding-top:75px;
}
.googlemaps{
	float:left;
	margin-left:100px;

}
ul{
	list-style-type:none;
}
h1{
	padding-bottom:10px;
}
.mail{
	margin-left:55px;
}
.mail_button{
	height:50px;
	width:auto;
	float:left;
}
.mail_text{
	float:left;
	margin-top:17px;
}
/*.socialmedia{
	float:left;
	height:200px;
	width:100%;
	margin-left:55px;
	
}
.sm-button{
	height:50px;
	width:auto;
	background-color:black;
}*/
