/*........*/
*{
	margin:0;
	padding:0;
}
/*gives all text the color of #45171d */
body{
	font-family: garamond;
}
p,h1,h2,h3,ul{
	color:#45171d;
}
/*This is the div of  the whole page, we gave it a width if 1400px and the height is auto*/
#container{
	width: 1400px;
	height:auto;
	margin: 0 auto;
}
.header{
	width:100%;
	height:150px;
}
.logo{
	float:left;
	height:100%;
}
.logo-img{
/*makes the image the height of the header*/
	height:100%;
	width:auto;
}
.buttonlist1{
	float:right;
	margin-left:auto;
}
.button{
	color:brown;
	/*determines position of the buttons*/
	display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
	margin-top:50px;
	text-decoration:none;	
}
.button:hover{
	/*underline text in buttons when hovering over it*/
	text-decoration:underline;
}

/*css for the slide*/
#slide
{
	width: 1400px;
	height: 500px;
	background-image: url(images/bg1.jpg);
	position:relative;
}

#apply
{
	width: 570px;
	position: relative;
	top: 300px;
	left: 0px;
}	

#apply: hover
{
	width: 570px;
	position: relative;
	top: 340px;
	left: 0px;
}
	
#box
{
	opacity: 0.9;
	transition: 0.5s;
}

#box:hover
{
	opacity: 1;
}
/*end of css for the slide*/

/*small menu*/
#menu
{
	height: 40px;
	width: 1400px;
	position: relative;
	background-color:#45171d;
	float: left;
	text-align:center;
}

#menu a
{
	font-family: arial;
	font-size: 20px;
}
	
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #45171d;
  min-width: 160px;
  z-index: 1;
  transition: 0.5s;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  height: 40px;
  width: 346.5px;
  font-size: 20px;
}

.dropdown:hover .dropdown-content 
{
	display: block;
}

.dropdown-content a:hover
{
	background-color: #6a454a;
	transition: 0.5s;
}

.menu2
{
	height:40px;
	background-color: #45171d;
	color: #ffffff;
	border:none;
	text-decoration: none;
	text-align:center;
	display:inline-block;
	font-size:20px;
	margin: 0 auto;
	width: 346.5px;
	transition: 0.5s;
	cursor: pointer;
}

.menu2:hover
{
	background-color:#6a454a;
}
/*small menu*/
#menu
{
	height: 40px;
	width: 1400px;
	position: relative;
	background-color:#45171d;
	float: left;
	text-align:center;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #45171d;
  min-width: 160px;
  z-index: 1;
  transition: 0.5s;
}

#dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  height: 40px;
  width: 346.5px;
  font-size: 20px;
}

#dropdown:hover #dropdown-content 
{
	display: block;
}

.menu2
{
	height:40px;
	background-color: #45171d;
	color: #ffffff;
	border:none;
	text-decoration: none;
	text-align:center;
	display:inline-block;
	font-size:20px;
	margin: 0 auto;
	width: 346.5px;
	transition: 0.5s;
	cursor: pointer;
}

.menu2:hover
{
	background-color:#6a454a;
}
/*end of small menu*/
/*begin of footer*/
/******* Jonathan's Footer's CSS Starts Here******/
.footer{
	margin: 0 auto;
	width: 1400px;
	height: 120px;
	float:left;
	background-color: #45171d;
}
.footerleft1{
	width: 320px;
	height: 51px;
	float:left;
	padding-top:15px;
	padding-left:30px;
}
.footerleft2{
	width: 350px;
	height: 40px;
	float:left;
	clear:left;
	font-size: 15px;
	color: blue;
	padding-top:18px;
	padding-left:30px;
}
.footerimg{
	width: 100px;
	height: 100px;
}

.footerright{
	width: 500px;
	height: 150px;
	float: right;
}
.footerimg1{
	width: 51px;
	height: 51px;
	float:left;
	padding:7px;
}
.footerimg2{
	width: 70px;
	height: 70px;
	float:left;
	padding:10px;
}

.footerimg4{
	width: 51px;
	height: 51px;
	float:left;
	padding:6px;
	padding-left:25px;
}
a{
	font-size:15px;
	font-family:Arial;
	color: white;
	text-decoration: none;
}
/******* Jonathan's Footer's CSS End Here******/


/******* Jonathan's about us CSS starts Here******/

.about{
	margin: 0 auto;
	width: 900px;
	height:900px;
}
.abtimg{
	margin: 0 auto;
	width: 1200px;
	height:400px;
	text-align:center;
}