*
{
margin:0;
padding:0;
}

.stories{
  padding-top: 40px;
  margin: auto;
  width: 800px;
  height: auto;
}
.story{
  margin: auto;
  width: 800px;
  height: 300px;
}
.studentpic{
  width: 400px;
  height: 300px;
  margin: auto;
  float: left;
}
.studentstory{
  text-align: center;
  width: 400px;
  height: 300px;
  float: left;
}
hr{
  margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	float: left;
}
#news{
  padding-top: 40px;
  margin: auto;
  width: 800px;
  height: auto;
}
#news h1{
	line-height:80px;
}
.article{
  margin: auto;
  width: 1000px;
  height: 200px;
}
.newspic{
  width: 400px;
  height: 200px;
  margin: auto;
  float: left;
  text-align: center;
}
.newstext{
  text-align: center;
  width: 400px;
  height: 200px;
  float: left;
  text-align:
}
.more{
	padding-top:50px;
}