*{
	margin:0;
	padding:0;
}

body
{
	font-family: arial;
}
p,h1,h2,h3,ul{
	color:#45171d;
}

#container
{
	width:1400px;
	height:auto;
	margin: 5px auto;
}

#slide
{
	width: 1400px;
	height: 600px;
	background-image: url( images/top-bg.jpg);
	position:relative;
}

#apply
{
	width: 570px;
	position: relative;
	top: 350px;
	left: 0px;
}	

#apply: hover
{
	width: 570px;
	position: relative;
	top: 340px;
	left: 0px;
}
	
#box
{
	opacity: 0.9;
	transition: 0.5s;
}

#box:hover
{
	opacity: 1;
}

#menu
{
	height: 40px;
	width: 1400px;
	position: relative;
	background-color:#45171d;
	float: left;
	text-align:center;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #45171d;
  min-width: 160px;
  z-index: 1;
  transition: 0.5s;
}

#dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  height: 40px;
  width: 346.5px;
  font-size: 20px;
}

#dropdown:hover #dropdown-content 
{
	display: block;
}

.menu2
{
	height:40px;
	background-color: #45171d;
	color: #ffffff;
	border:none;
	text-decoration: none;
	text-align:center;
	display:inline-block;
	font-size:20px;
	margin: 0 auto;
	width: 346.5px;
	transition: 0.5s;
	cursor: pointer;
}

.menu2:hover
{
	background-color:#6a454a;
}
